@keyframes gol {
    0% {
        transform: translateX(0);

    }

    100% {
        transform: translateX(calc(100vw - 80px));
    }
}

body {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    height: 500px;
    background-color: bisque;
    display: flex;
    justify-content: start;
    align-self: center;
}

.img {
    display: grid;
    align-content: center;
    animation: gol 3s linear infinite;
}

.img:hover {
    animation-play-state: paused;
}